<div class="container d-flex justify-content-center">
  <div class="placement">
    <div
      class="promo-section my-5 text-center text-white p-5 rounded shadow-lg"
    >
      <h1 class="title">
        A High-Demand Skill with Practical Learning and Assured Job Placement
      </h1>
      <p class="content mt-2">
        Our <strong>MEAN/MERN Stack Program</strong> offers
      </p>

      <div class="offer-list mt-4 text-start text-white">
        <ul>
          <li>
            <i class="fas fa-check"></i> Learn the full stack skills top
            employers are hiring for: front-end, back-end, databases, and
            deployment.
          </li>
          <li>
            <i class="fas fa-check"></i> No fluff. Build real-world projects
            from day one with expert mentorship.
          </li>
          <li>
            <i class="fas fa-check"></i> Get industry-recognized credentials
            that add instant credibility to your resume.
          </li>
          <li>
            <i class="fas fa-check"></i> Focused on making you job-ready with
            resume building and interview training.
          </li>
          <li>
            <i class="fas fa-check"></i> Personalized placement assistance until
            you secure the right opportunity.
          </li>
        </ul>
      </div>
      <div class="mt-3" 
      *ngIf="!isV2Route"
      >
        <app-cta-button
          text="Get Started Today ( ₹ 199 )"
          icon="fas fa-hand-point-right"
        ></app-cta-button>
      </div>
    </div>
  </div>
</div>
