<div class="container">
  <section class="why-learn-section">
    <h2 class="section-title">Pain Points You May Be Facing</h2>

    <div class="features-grid">
      <div class="feature-card" *ngFor="let feature of features">
        <div class="icon">
          <i class="fa-solid fa-xmark"></i>
        </div>
        <div class="content">
          <p>{{ feature.description }}</p>
        </div>
      </div>
    </div>
    <app-cta-button
      *ngIf="!isV2Route"
      text="Join Webinar ( ₹ 199 )"
      icon="fas fa-hand-point-right"
    ></app-cta-button>
  </section>
</div>
