<div class="container">
  <section class="roadmap-section">
    <h2 class="title">1-Year Roadmap to Becoming a Full-Stack Developer</h2>

    <div class="phase-card-container">
      <div class="phase-card">
        <div class="phase-label">Phase 1</div>
        <h3>Foundation Training (3 Months)</h3>
        <ul>
          <li>
            <i class="fa-solid fa-right-long"></i> Basics of Web Development
          </li>
          <li class="phase-content">
            <i class="fa-solid fa-right-long"></i>
            <span>

              IT graduates struggling to
              land a <strong>good career.</strong>
            </span>
          </li>
        </ul>
      </div>

      <div class="phase-card">
        <div class="phase-label">Phase 2</div>
        <h3>Advanced Training (3 Months)</h3>
        <ul>
          <li>
            <i class="fa-solid fa-right-long"></i> Advanced Frontend & Backend
            Development
          </li>
          <li class="phase-content">
            <i class="fa-solid fa-right-long"></i>Database Management
          </li>
        </ul>
      </div>

      <div class="phase-card">
        <div class="phase-label">Phase 3</div>
        <h3>Live Projects & Internships (6 Months)</h3>
        <ul>
          <li>
            <i class="fa-solid fa-right-long"></i>Work on live client projects
          </li>
          <li class="phase-content">
            <i class="fa-solid fa-right-long"></i> Paid internships with top
            companies
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
