.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    backdrop-filter: blur(4px);

  }
  
  .modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 2px solid #ffffff;
    padding: 40px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: #fff;
    box-sizing: border-box;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  
    h3 {
     font-family: "Poppins", Sans-serif;
    font-size: 24px;
    color: #FFFFFF;
font-weight: 700;
    }
  
    .close-button {
        display: flex;
            top: 3%;
            font-size: 20px;
            cursor: pointer;
            color: #fff;
            border: none;
            outline: none;
            background: none;
            opacity: 1;
            z-index: 9999;
            pointer-events: all;
            transition: all 0.3s ease;
            position: absolute;
            right: 3%;        
    }
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
  text-align: start;
    label {
      padding-bottom: 5px;
    }
  
    input,
    select {
    //   padding: 0.5rem;
    //   border-radius: 5px;
    //   border: none;
    //   outline: none;
    //   background-color: #ffffffdd;
    //   color: #000;
    outline: none;
    background-color: #FFFFFF1C;
    border-radius: 5px;
    color: #ffffff;
    border: 1px solid #fff;
    font-size: 15px;
    line-height: 1.4;
    min-height: 40px;
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    
    }
    input::placeholder,
    select::placeholder {
      color: #ffffff; 
    }
    button[type='submit'] {
        padding: 0.6rem;
        cursor: pointer;
        font-weight: 600;
        transition: transform 0.3s ease, background-color 0.3s ease; 
        
        &:hover {
          background-color: #205e5c;
          transform: rotate(2deg) !important;
        }
      }
  }
  
  .cta-btn {
    // background-image: linear-gradient(#24746d, #541095 0%, #105974 0%, #24746d 100%, #bd4ce0);
 background: #24615A;
    box-shadow: inset 0 0 8px #9375b6e6, inset 0 0 5px #fface433, 0 30px 30px #0006;
    font-family: sans-serif;
    color: white;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.2s ease-in-out;
    animation: shakeLeftRight 0.3s infinite alternate ease-in-out;
    font-weight: 600;
    border: 1px solid #fff !important;
  }
  
  .cta-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.5), transparent);
    animation: shineEffect 2s infinite linear;
  }
  
  @keyframes shakeLeftRight {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes shineEffect {
    0% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  
@media (max-width: 768px) {
  .modal-box {
padding:20px;  
}
}