<div class="container">
    <footer class="footer-container">
        <div class="footer-links">
          <span>|</span>
          <a href="#">Terms and Conditions</a>
          <span>|</span>
          <a href="#">Privacy Policy</a>
          <span>|</span>
          <a href="#">Disclaimer</a>
          <span>|</span>
          <a href="#">Refund Policy</a>
        </div>
        <div class="footer-copy">
          ©2024 Learnnow Academy. All rights reserved. Designed by Tiswam
        </div>
      </footer>
      
</div>