<div class="container">

<div class="job-roles-container">
    <h2>Your Path to a High-Paying Tech Career</h2>
    <h3><u>Job Roles:</u></h3>
    <div class="roles-grid">
      <button class="role-btn">
        <i class="fas fa-check"></i> Full-Stack Developer
      </button>
      <button class="role-btn">
        <i class="fas fa-check"></i> Frontend Developer
      </button>
      <button class="role-btn">
        <i class="fas fa-check"></i> Backend Developer
      </button>
      <button class="role-btn">
        <i class="fas fa-check"></i> Software Engineer
      </button>
    </div>
  </div>
</div>
  