<app-landing-card></app-landing-card>
<app-top-companies></app-top-companies>
<app-why-learn-now></app-why-learn-now>
<app-program-check></app-program-check>
<app-pain-point></app-pain-point>
<app-job-placement></app-job-placement>
<app-full-stack-program></app-full-stack-program>
<app-what-you-learn></app-what-you-learn>
<app-our-program></app-our-program>
<app-roadmap></app-roadmap>
<app-job-roles></app-job-roles>
<app-salary-alumni></app-salary-alumni>
<!-- <app-pricing-certification></app-pricing-certification> -->
<app-guarantee-success></app-guarantee-success>
<app-work-experience></app-work-experience>
<app-instructors></app-instructors>
<app-testimonials></app-testimonials>
<app-faq></app-faq>
<app-cta></app-cta>
<app-footer></app-footer>