.program-check-section {
  padding: 3rem 0;
  text-align: center;

  h2 {
    font-family: "Poppins", Sans-serif;
    font-size: 35px;
    font-weight: 500;
    color: #ffffff;
  }

  p {
    text-align: center;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    color: #ffffff;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
    @media (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
    }

    .image {
      img {
        width: 100%;
        max-width: 500px;
        border-radius: 10px;
        object-fit: cover;
      }
    }

    .reasons {
      display: flex;
      flex-direction: column;
      gap: 18px;
      max-width: 500px;
      width: 100%;

      .reason-box {
        background: transparent;
        margin: 10px;
        border: 1px solid #7a7a7a;
        padding: 20px;
        border-radius: 8px;
        text-align: left;
        display: flex;
        align-items:flex-start;
        gap: 0.8rem;
        font-size: 1rem;
        transition: background 0.3s ease;

        i {
          color: #fff;
          margin-top: 5px;
        }
      }
    }
  }
}
