<div class="container d-flex justify-content-center">
  <div class="fullstack">
    <div class="fullstack-section">
      <div class="content">
        <h2>Join Full-Stack MEAN/MERN Stack Program Powered by</h2>

        <ul>
          <li>TISWAM (India) – Since 2018</li>
          <li>Scorpius Solutions (Malaysia and Australia – Since 2016</li>
        </ul>

        <p>
          With over
          <strong>10+ years of Collective Experience in Tech Industry</strong>
          in crafting cutting-edge tech solutions, we identified the gaps that
          colleges fail to fill. That’s why we designed this
          <strong>comprehensive program</strong> with one motto.
        </p>

        <p class="motto">
          <i class="fas fa-hand-point-right"></i>
          <strong>Doing is the Best Way to Learn.</strong>
        </p>

        <div class="mt-3 btn-content" *ngIf="!isV2Route">
          <app-cta-button
            text="Join Webinar ( ₹ 199 )"
            icon="fas fa-hand-point-right"
          ></app-cta-button>
        </div>
        
      </div>

      <div class="handshake-img">
        <img src="assets/handshake.svg" alt="Handshake Icon" />
      </div>
    </div>
  </div>
</div>
